.elements {
    margin: 0 auto;
    padding: 2px 0 0 0;
    max-width: 880px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
}

@media only screen and (max-width: 1284px) and (min-width:768px) {
    .elements {
        max-width: 650px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .elements {
        max-width: 290px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}