.profile__avatar {
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 120px;
    width: 120px;
    padding: 0;
    clip-path: circle(60px at center);
    margin: 0;
    overflow: hidden;
}